@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgb(153, 153, 153);
}

ul li {
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
}
